*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/target/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.directory
.settings/
.loadpath
.recommenders
# Eclipse Core
.project
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# JDT-specific (Eclipse Java Development Tools)
.classpath
# Java annotation processor (APT)
.factorypath
# PDT-specific (PHP Development Tools)
.buildpath
# sbteclipse plugin
.target
# Tern plugin
.tern-project
# TeXlipse plugin
.texlipse
# STS (Spring Tool Suite)
.springBeans
# Code Recommenders
.recommenders/
Acme-Rendezvous/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Rendezvous/pom.properties
Acme-Rendezvous/target/classes/services/UserService.class
Acme-Rendezvous/target/classes/services/RendezvousService.class
Acme-Rendezvous/target/classes/services/QuestionService.class
Acme-Rendezvous/target/classes/services/form/CommentFormService.class
Acme-Rendezvous/target/classes/services/CommentService.class
Acme-Rendezvous/target/classes/services/AnswerService.class
Acme-Rendezvous/target/classes/services/AnnouncementService.class
Acme-Rendezvous/target/classes/repositories/UserRepository.class
Acme-Rendezvous/target/classes/repositories/RSVPRepository.class
Acme-Rendezvous/target/classes/repositories/RendezvousRepository.class
Acme-Rendezvous/target/classes/repositories/QuestionRepository.class
Acme-Rendezvous/target/classes/repositories/CommentRepository.class
Acme-Rendezvous/target/classes/repositories/AnswerRepository.class
Acme-Rendezvous/target/classes/repositories/AnnouncementRepository.class
Acme-Rendezvous/target/classes/repositories/ActorRepository.class
Acme-Rendezvous/target/classes/Entities.map
Acme-Rendezvous/target/classes/domain/User.class
Acme-Rendezvous/target/classes/domain/Rendezvous.class
Acme-Rendezvous/target/classes/domain/Question.class
Acme-Rendezvous/target/classes/controllers/UserController.class
Acme-Rendezvous/target/classes/controllers/user/RSVPUserController.class
Acme-Rendezvous/target/classes/controllers/user/RendezvousUserController.class
Acme-Rendezvous/target/classes/controllers/RendezvousController.class
Acme-Rendezvous/target/classes/controllers/CommentController.class
Acme-Rendezvous/target/classes/controllers/administrator/RendezvousAdministratorController.class
Acme-Rendezvous/target/classes/controllers/administrator/CommentAdministratorController.class
Acme-Rendezvous/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Rendezvous/pom.properties
